
@font-face {
    font-family: "segoeui_light";
    src: url("../fonts/segoeuil-webfont.eot");
    src: url("../fonts/segoeuil-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/segoeuil-webfont.woff") format("woff"),
         url("../fonts/segoeuil-webfont.ttf") format("truetype"),
         url("../fonts/segoeuil-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}



@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-bold.eot');
	src: local('☺'), 
         url('../fonts/webfonts/ostrich-sans-bold.woff') format('woff'), 
         url('../fonts/webfonts/ostrich-sans-bold.ttf') format('truetype'), 
         url('../fonts/webfonts/ostrich-sans-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

#homeButton:hover{
    cursor: pointer;
}

.hidden {
    display: none;
}

h1{
    font-family: "Ostrich Sans";
    font-size: 50px;
    margin: 0;
    color: white;
    background-color: #A4A4A4;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    
}


#chartdiv {
	width: 70%;
	height: 500px;
}

#map {
	width: 70%;
	height: 500px;
}											

body{
    background-color: floralwhite;

}

[class*="col-"] {
    float: left;
}

#user_input{
    width: 200px;
    height: 25px;
    border: none;
    color: black;
    margin-top: 30px;
}



#hint{
    background: url(../images/hintIcon.png) no-repeat;
    height: 50px;
    float: right;
    padding: 5px;
    margin-left: 5px;
}

#hint:hover{
    cursor: pointer;
}

#hint_info{
    visibility: hidden;
}

#hint:hover #hint_info{
    visibility: visible;
}


a{
    font-size: 10px;
    color: dimgray;
}

*{
    font-family: "segoeui_light";
    color: white;
    box-sizing: border-box;
}


.icons {
    display: block;
    margin-top: 40px;
}

.icons-text{
    color:dimgray;
    font-size: 10px;
    
}



.col-3{
    height: 500px;
    width: 30%;
    background-color: #04B486;
    padding-left: 10px;    
}

#license{
    margin: 20px;
    
}

#timer{
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: rgba(164,220,224,1); 
    line-height: 80px;
    margin-top: 150px;
    position: fixed;
    bottom: 30;
    right: 5;

}



#hintObject img{
    width: 120px;
    height: 120px;
}

#hintObject{
    margin-left: 30px;
    margin-top: 10px;

}



#score{
    position: absolute;
    bottom: 150px;
    font-size: 30px;
}
									

body{
    background-color: floralwhite;
}


#newLevel{
    visibility: hidden;
    position: absolute;
    left: 32%;
    top: 30%;
    width:500px;
    height: 300px;
    z-index: 1000;
    color: black;
}


.level-content {
    background-color: lightcyan;
    margin: auto;
    padding: 20px;
    border: 1px solid ;
    
}

#levelText {
    color: black;
    font-family: "segoeui_light";
    font-size: 20px;
    text-align: center;
}

#link {
    display:inline-block;
    margin-left: 110px;
    align-content: center;
    font-size: 20px;
    text-align: center;
    color: black;
    font-family: "segoeui_light";
    position: relative;
}

#overlay{
    visibility: hidden;
    position: absolute;
    left: 32%;
    top: 30%;
    width: 500px; 
    height: 500px;
    z-index: 1000;
    color: black;
}


.overlay-content {
    background-color: lightcyan;
    margin: auto;
    padding: 20px;
    border: 1px solid ;

}

#successText {
    color: black;
    font-family: "segoeui_light";
    font-size:"20px";
    text-align: center;
}

.goToLevel {
    display: inline ;
    width: 200px;
    margin-left: 10px;
    border-radius: 50px 50px 50px 50px;
    border: 2px solid ;
    padding: 8px;
    background-color: lightcyan;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: mediumaquamarine;
}

.goToStart {
    display: inline ;
    width:200px;
    margin-left: 130px;
    padding: 8px;
    border-radius: 50px 50px 50px 50px;
    border: 2px solid ;
    background-color:  lightcyan;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: mediumaquamarine;
}

.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
                
                
}

