@font-face {
    font-family: "segoeui_light";
    src: url("../fonts/segoeuil-webfont.eot");
    src: url("../fonts/segoeuil-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/segoeuil-webfont.woff") format("woff"),
         url("../fonts/segoeuil-webfont.ttf") format("truetype"),
         url("../fonts/segoeuil-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}



@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-bold.eot');
	src: local('☺'), 
         url('../fonts/webfonts/ostrich-sans-bold.woff') format('woff'), 
         url('../fonts/webfonts/ostrich-sans-bold.ttf') format('truetype'), 
         url('../fonts/webfonts/ostrich-sans-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

*{
    font-family: "segoeui_light";
}


.hidden {
    visibility: none;
}

html{
    height: 100%;
}

body {
    display: absolute;
    background: url(../../ammap/maps/svg/worldLow.svg) 130px;
    background-color: #D8D8D8;
    background-size: cover;
}

h1 {
    font-family: "Ostrich Sans";
    font-size: 50px;
    margin: 0;
    color: white;
    background-color: #A4A4A4;
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 50px;
    text-align: center;
}

#timerandscore {
    display: block;
    position: relative;
    margin: 50px auto 10px;
}

#score {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 280px;
    margin-left: 500px;
    font-size: 30px;
    color: black;
}

#time {
    display: inline-block;
    position: absolute;
    margin-left: 380px; 
    bottom: 0px;
    left: 250px;
    font-size: 30px;
    color: rgba(20, 20, 20, 0.8);
    text-align: center;
}

#time .lastsecs {
    color: rgb(200, 90, 90);
    text-align: center;
}


#overlay{
    visibility: hidden;
    position: absolute;
    left: 32%;
    top: 35%;
    width: 500px; 
    height: 500px;
    z-index: 1000;
    color: black;
}


.overlay-content {
    background-color: azure;
    margin: auto;
    padding: 20px;

}

#successText {
    color: black;
    font-family: "segoeui_light";
    font-size:"30px";
    text-align: center;
}

#overlay2{
    visibility: hidden;
    position: absolute;
    left: 32%;
    top: 35%;
    width: 500px; 
    height: 500px;
    z-index: 1000;
    color: black;
}


.overlay-content2 {
    background-color: azure;
    margin: auto;
    padding: 20px;

}

#lostText {
    color: black;
    font-family: "segoeui_light";
    font-size:"30px";
    text-align: center;
}

.goToStart {
    display: inline ;
    width:200px;
    margin-left: 150px;
    padding: 8px;
    border-radius: 50px 50px 50px 50px;
    border: 2px solid ;
    background-color:  lightcyan;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: mediumaquamarine;
}

.restart {
    display: inline ;
    width: 200px;
    margin-left: 10px;
    border-radius: 50px 50px 50px 50px;
    border: 2px solid ;
    padding: 8px;
    background-color: lightcyan;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: mediumaquamarine;
}

.icons {
    display: block;
    margin-top: 40px;
}

.icons-text{
    color:dimgray;
    font-size: 10px;
    
}

a {
    color: dimgray;
}

#homeButton:hover{
    cursor: pointer;
}

#board {
    position: relative;
    width: 800px;
    height: 400px;
    margin-top: 20px;
    margin: 0px auto;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(164,220,224,1);
    background-color: rgba(164, 220, 224, 0.5);
}

#board .card {
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
    background-color: lightcyan;
    background-repeat: no-repeat;
    background-position: -150px -150px;
}

#board .card:hover {
    cursor: pointer;
    background-color: rgb(95,158,160);
}

#board .open {
    background-position: center center;
    background-color: rgb(95,158,160);
}

#board .solved {
    background-position: center center;
    background-color: rgba(90, 200, 90, 0.4);
}

#board .solved:hover {
    background-color: rgba(90, 200, 90, 0.4);
}
