#imageContainer{
    width: 300px;
    height: 500px;
    margin: auto;
    position: relative;
    
   
}

#imageContainer img{
    width: 300px;
    z-index: 0;
}

.box{
    width: 29px;
    height: 29px;
    float: left;
    margin: 0.5px;
    background-color: #04B486; 
    z-index: 2;
    
}

#source {
    position: absolute;
    left: 0;
    bottom: 5px;
    color: #696969;  
}

#source a{
    color: #696969;
}

.boxes{
    position: absolute;
    top: 0px;
}

h2{
  text-align: center;
}


#score{
    position: absolute;
    bottom: 0;
    font-size: 40px;
    float: right;
   
}

.info{
    margin-bottom: 20px;
    color: black;
}

#user_area{
    width: 400px;
    position: absolute;
    right: 80px;
    top: 50%;
}
input{
    width: 300px;
    height: 20px;
    color: black;

}

body{
    /*background-image: none;
    background-color: #086A87;*/
}

#success{
    visibility: hidden;
    position: absolute;
    left: 32%;
    top: 30%;
    width: 500px; 
    height: 500px;
    z-index: 1000;
    color: black;
}

#successText{
    color: black;
}


.success-content {
    background-color: lightcyan;
    margin: auto;
    padding: 20px;
    border: 1px solid ;

}

.goToStart {
    display: inline ;
    width:200px;
    margin-left: 130px;
    padding: 8px;
    border-radius: 50px 50px 50px 50px;
    border: 2px solid ;
    background-color:  lightcyan;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: mediumaquamarine;
}




