
@font-face {
    font-family: "segoeui_light";
    src: url("../fonts/segoeuil-webfont.eot");
    src: url("../fonts/segoeuil-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/segoeuil-webfont.woff") format("woff"),
         url("../fonts/segoeuil-webfont.ttf") format("truetype"),
         url("../fonts/segoeuil-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-bold.eot');
	src: local('☺'), 
         url('../fonts/webfonts/ostrich-sans-bold.woff') format('woff'), 
         url('../fonts/webfonts/ostrich-sans-bold.ttf') format('truetype'), 
         url('../fonts/webfonts/ostrich-sans-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

*{
    font-family: "segoeui_light";
}

html{
    height: 100%;
}

 body {
    display: absolute;
    background: url(../../ammap/maps/svg/worldLow.svg) 130px;
    background-color: #D8D8D8;
    background-size: cover;
      }

#game{
    margin-left: 30%;
}

.questionText{
    font-size: 27px;
    color: dimgrey;
    font-family: "segoeui_light"; 
      }

.option{
    width: 400px;
    height: 40px;
    margin: 10px;
    font-size: 24px;
    color: #FFFFFF;
    padding-top: 10px;      
    border: 2px solid white;
    cursor: pointer;
    background-color: rgba(164,220,224,1);
    font-family: "segoeui_light";
    text-align: center;
      }

.option:hover{
    border: #4D4D4D solid 2px;
    color: #4D4D4D;
      }

.feedback1{
    width: 150px;
    padding: 5px;
    font-size: 30px;
    color: #FFFFFF;
    background-color: #A0EA7D;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
      }
           
.feedback2{
    width: 150px;
    padding: 5px;
    font-size: 30px;
    color: #FFFFFF;
    background-color: #ED6868;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
      }

.hidden {
    display: none;
}

#homeButton:hover{
    cursor: pointer;
}

#score{
    font-size: 50px;
    color: #A4A4A4;
    bottom: 0;
    right: 0;
}

h1{    
    font-family: "Ostrich Sans";
    font-size: 50px;
    margin: 0;
    color: white;
    background-color: #A4A4A4;
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 50px;
    text-align: center;    
}

#overlay{
    visibility: hidden;
    position: absolute;
    left: 32%;
    top: 30%;
    width: 500px; 
    height: 500px;
    z-index: 1000;
    color: black;
}


.overlay-content {
    background-color: lightcyan;
    margin: auto;
    padding: 20px;
    border: 1px solid;
}

.goToStart {
    display: inline;
    width: 200px;
    margin-left: 130px;
    padding: 8px;
    border-radius: 50px 50px 50px 50px;
    border: 2px solid ;
    background-color:  lightcyan;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: mediumaquamarine;
}

.close {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}