
@font-face {
    font-family: "segoeui_light";
    src: url("../fonts/segoeuil-webfont.eot");
    src: url("../fonts/segoeuil-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/segoeuil-webfont.woff") format("woff"),
         url("../fonts/segoeuil-webfont.ttf") format("truetype"),
         url("../fonts/segoeuil-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-bold.eot');
	src: local('☺'), 
         url('../fonts/webfonts/ostrich-sans-bold.woff') format('woff'), 
         url('../fonts/webfonts/ostrich-sans-bold.ttf') format('truetype'), 
         url('../fonts/webfonts/ostrich-sans-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

*{
    color: white;
    font-family: "segoeui_light";
}

html {
    height: 100%;    
}

.level-box{
    float: left;
}

body {
    display: absolute;
    background: url(../../ammap/maps/svg/worldLow.svg) 130px;
    background-color: #D8D8D8;
    background-size: cover;    
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    text-align: center;
    font-size: 25px;
    padding-right: 10px;    
}

h1 {
    text-align: center;
    padding: 10px;
    font-family: "Ostrich Sans";
    background-color: #A4A4A4;
}

#level{
    margin-top: 150px;
    margin-left: 25%;    
}

#mini-games{
   margin-left: 33%;    
}

#level .card {
    display:inline-block;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgba(164,220,224,1);
    align-content: center;
    font-size: 25px;
    text-decoration-color: azure;
    text-align: center;
    text-decoration: none;
    position: relative;    
}

.box{
    background-color: #458DAD;
    float: left;
    margin: 30px;
    width: 90px;
    height: 90px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    position: relative;      
}

#level .closed {
    display:inline-block;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    align-content: center;
    font-size: 25px;
    color: gray;
    text-align: center;
    text-decoration: none;
    font-family: "segoeui_light";
    position: relative;
    background: url(../../res/images/lock-symbol-for-interface.png) #A4A4A4 center bottom no-repeat;    
}

.button {
    display: block;
    width: 200px;
    align-content: center;
    margin-top: 30px;
    padding: 10px;
    border-radius: 50px 50px 50px 50px;
    border: 2px solid ;
    background-color: #A4A4A4;
    font-size: 15px;
    color: white;
    margin: 10px auto;    
}

#buttons{
    bottom: 0;
}

.button:hover{
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 1%;
    text-align: center;
}

#overlay{
    visibility: hidden;
    position: absolute;
    left: 32%;
    top: 20%;
    width:500px;
    height: 500px;
    z-index: 1000;
    color: black;
}

/* Modal Content */
.overlay-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid ;
    height: 300px;
}

#score{
    position: absolute;
    font-size: 50px;
    color: #A4A4A4;
    bottom: 30px;
    right: 30px;
}

.icons {
    display: block;
    margin-top: 40px;
}

.icons-text{
    color: dimgray;
    font-size: 10px;    
}

.infoText {
    color: black;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


